.home_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 4rem;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #7286b4, #e794ce);
  height: 150px;
  padding: 10px 35px;
  border-radius: 14px;
  position: relative;
}
.banner > h2 {
  font-size: 34px;
  font-family: sans-serif;
  color: #2e0052;
}
.banner > img {
  position: absolute;
  width: 270px;
  right: 0;
  top: -36px;
}
.searchbar {
  display: flex;
  border: 1px solid #c8c8c8;
  padding: 3px 22px;
  border-radius: 25px;
  align-items: center;
  gap: 10px;
}
.input {
  width: 100%;
  height: 37px;
  border: none;
  outline: none;
  color: #666666;
  font-size: 20px;
  padding: 10px 0;
}
.filter {
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.icons {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100px;
  height: 35px;
}
.filter_option {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 12px;
  margin-right: auto;
}
.option {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.sortby {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.headphone_types {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding: 13px 0;
  width: 200px;
  box-shadow: 0px 0px 6px #605e5ecc;
}
.option > ul > li {
  padding: 5px 13px;
}
.option > ul > li:hover {
  color: white;
  background-color: #0066ff;
}
.active {
  color: white;
  background-color: #0066ff;
}
.company {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding: 13px 0;
  width: 135px;
  box-shadow: 0px 0px 6px #605e5ecc;
}
.colour {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding: 13px 0;
  width: 114px;
  box-shadow: 0px 0px 6px #605e5ecc;
}
.price {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding: 13px 0;
  width: 170px;
  box-shadow: 0px 0px 6px #605e5ecc;
}
.sort_types {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 12px;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding: 13px 0;
  width: 170px;
  box-shadow: 0px 0px 6px #605e5ecc;
}
.sort_types > li {
  padding: 5px 13px;
}
.sort_types > li:hover {
  color: white;
  background-color: #0066ff;
}
.grid_product_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 20px 0;
  min-height: 250px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  gap: 5px;
  width: 280px;
  height: 300px;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.grid_product_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}
.image_container {
  position: relative;
  height: 200px;
  background-color: #0066ff46;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.product_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart {
  position: absolute;
  bottom: 8px;
  right: 10px;
  background-color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #5c5b5bb9;
}
.list_product_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  min-height: 250px;
}
.product_list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.list_image_container {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #0066ff46;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.list_product_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.list_product_details {
  width: calc(100% - 230px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: sans-serif;
}
.list_product_name {
  font-size: 33px;
}
.p {
  font-weight: 600;
  text-transform: capitalize;
}
.details {
  background-color: #2e0052;
  width: max-content;
  color: white;
  padding: 6px 25px;
  border-radius: 20px;
  cursor: pointer;
}
.notfound {
  font-size: 30px;
  font-family: sans-serif;
  color: red;
}

@media screen and (max-width: 600px) {
  .home_container {
    padding: 20px 10px;
    overflow: hidden;
  }
  .banner {
    padding: 15px;
  }
  .offer > h2 {
    font-size: 19px;
    color: #2e0052;
  }
  .banner > img {
    position: absolute;
    width: 245px;
    right: -50px;
    top: -19px;
  }
  .offer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: sans-serif;
  }
  .offer > span {
    padding: 7px 30px;
    background-color: #2e0052;
    color: white;
    border-radius: 20px;
    width: max-content;
    font-size: 13px;
  }
  .filter {
    gap: 20px;
    position: relative;
  }
  .sortby {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    padding: 8px 13px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    min-width: 100px;
    justify-content: space-between;
  }
  .filter_option {
    margin-right: 0%;
    overflow-x: scroll;
  }
  .option {
    position: unset;
    border-radius: 5px;
    justify-content: center;
    min-width: 200px;
  }
  .option > h2 {
    font-weight: 500;
    font-size: 16px;
  }
  .sort_types {
    z-index: 1;
    position: absolute;
    top: 37px;
    left: 0px;
    background-color: white;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 13px 0;
    width: max-content;
    box-shadow: 0px 0px 6px #605e5ecc;
  }
  .sort_types > li {
    padding: 4px 13px;
  }
  .headphone_types {
    right: 35px;
    left: unset;
  }
  .company {
    right: 55px;
    left: unset;
  }
  .colour {
    right: 35px;
    left: unset;
  }
  .price {
    right: 10px;
    left: unset;
  }
  .grid_product_container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    padding: 20px 0px 7rem 0px;
  }
  .product {
    justify-content: unset;
    width: 100%;
    height: 100%;
    border: 1px solid #cecece;
    border-radius: 10px;
  }
  .image_container {
    height: 180px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
  }
  .grid_product_details {
    padding: 10px;
    font-size: 11px;
  }
  .cart {
    bottom: 8px;
    right: 5px;
    width: 30px;
    height: 30px;
  }
  .notfound {
    font-size: 20px;
  }
}
