.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 4rem;
  font-family: sans-serif;
}
.back_btn {
  cursor: pointer;
  background-color: #2e0052;
  width: max-content;
  color: white;
  padding: 10px 28px;
  font-size: 17px;
  border-radius: 10px;
}
.all_invoice {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 400px;
  overflow: scroll;
  padding: 10px 0;
}
.invoice_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: groove;
}
.address_container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 12px;
}
.address {
  width: 200px;
  color: #797979;
  font-size: 14px;
}
.btn {
  text-decoration: none;
  cursor: pointer;
  background-color: #2e0052;
  width: max-content;
  color: white;
  padding: 7px 25px;
  font-size: 14px;
  border-radius: 8px;
}
